@font-face 
{
    font-family: 'uni sans regular';
    src: url(discord/gg_sans_Normal.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'uni sans bold';
    src: url(./discord/gg_sans_Normal.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'uni sans extra';
    src: url(./discord/gg_sans_Extrabold.tff);
    font-weight: normal;
    font-style: normal;
}
h1
{
    font-family:uni sans extra, sans-serif;
    font-size:32px;
    color: #ffffff;
}
h2
{
    font-family:uni sans bold, sans-serif;
    font-size:16px;
    color: #ffffff;
}
h3
{
    font-family:uni sans regular, sans-serif;
    font-size:16px;
    color: #ffffff;
}

body
{
    background-color: #313338;
    width: 90vw;
}
input
{
    padding-left: 50px;
    width: 1.25rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
    backface-visibility:hidden;
    scrollbar-width: none;
    line-height: 2.5;
    font-size: 20px;
    text-align: start !important; 
    color: rgb(224, 225, 229);
    border-radius: 8px;
    background-color: #383a40;
    display: block;
    border: 0;
    outline: none;
}
#upload
{
    background-color: #ffffff00;
    border-radius: 500px;
    border: 0;
    outline: none;
    -webkit-background-clip: url(discord/upload-big.png) alpha;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: alpha;
    transition: 0.1s;
    filter: brightness(1);
}
#upload:hover
{
    filter: brightness(1.2);
}

#sticker
{
    background-color: #ffffff00;
    border-radius: 500px;
    border: 0;
    right: 113px;
    outline: none;
    -webkit-background-clip: url(discord/sticker.png) alpha;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: alpha;
    filter: brightness(1);
    transition: 0.1s;
}
#sticker:hover
{
    filter: brightness(1.2);
}

#gif
{
    background-color: #ffffff00;
    border-radius: 0px;
    border: 0;
    right: 150px;
    outline: none;
    -webkit-background-clip: url(discord/gif.png) alpha;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: alpha;
    filter: brightness(0.85);
    transition: 0.1s;
}
#gif:hover
{
    filter: brightness(1);
}

#gift
{
    background-color: #ffffff00;
    border-radius: 0px;
    border: 0;
    right: 188px;
    outline: none;
    -webkit-background-clip: url(discord/gift.png) alpha;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: alpha;
    filter: brightness(1);
    transition: 0.1s;
}
#gift:hover
{
    filter: brightness(1.2);
}

#members
{
    right: 0px;
    left: 16px;
}

#all-messages
{
    list-style: none;
    height: 70%;
    bottom: 100px;
    border-collapse: collapse;
    position: absolute;
    display: block;
    width: calc(100% - 48px);
    vertical-align: bottom;
    overflow-x:hidden; 
    overflow-y:scroll;
}
.message
{
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
    padding: 0px;
    display: inline-block;
    line-height: 100%;
    font-family: uni sans regular, sans-serif;
    align-self: flex-end;
    width: 100%;
}
.mention
{
    font-family:uni sans bold, sans-serif;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #c9cdfb;
    background: #414776;
    transition: 0.1s;
    --saturation-factor: 1;
}
.mention:hover
{
    background: rgb(88, 101, 242);
    color: rgb(255, 255, 255);
}
.icon
{
    border-radius: 1000px;
    width: 40px;
    height: 40px;
    margin-top: 2px;
}
.pseudo
{
    color: #ffffff;
    font-family:uni sans regular, sans-serif;
    bottom: 24px;
    margin: 4px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375rem;
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    white-space: break-spaces;
    font-style: inherit;
    font-family: inherit;
}
.time
{
    position: relative;
    bottom: 24px;
    margin: 2px;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #9698a0;
}
.content
{
    color: #e0e1e5;
    bottom: 24px;
    margin-left: 55px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375rem;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    white-space: break-spaces;
    font-style: inherit;
    font-family: inherit;
}
.upload-button
{
    border: 0;
    transition-duration: 0.2s;
    line-height: 2.5;
    padding: 0 20px;
    font-family:uni sans bold, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    background-color: #5865F2;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 7px 7px 10px hsla(0, 0%, 100%, 0.3), inset -8px -8px 12px hsla(0, 0%, 0%, 0.45);
}
#emote
{
    transition: all 0.2s ease, background-position 0s;
    left: 0px;
    top: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(discord/emotes.png);
    background-repeat: no-repeat;

    background-size: 242px 110px;
    transform: scale(1);
    filter: grayscale(100%);

    -webkit-background-clip: url(discord/emotes.png);
    -webkit-mask-image: transparent;
}
#emote:hover{ filter: grayscale(0%); }
#icon-start
{
    width: 68px;
    height: 68px;
    position: relative;
    left: 18px;
    margin-top: 16px;
    border-radius: 50%;
    background-color: #41434a;
    background-image: url(discord/channel.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
